nav {
  background-color: rgb(6, 6, 112);
  display: flex;
  justify-content: space-around;
  height: 4em;
  align-items: center;
  margin: -1em;
}
a {
  color: cornsilk;
  text-decoration: none;
}
p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: rgb(164, 190, 248);
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img paragraph";
  margin-bottom: 5em;
  background-color: rgb(34, 34, 184);
  margin-left: -1em;
  margin-right: -1em;
  min-height: 80vh;
}
.texto-presentacion {
  max-width: 45em;
}
.logo {
  height: auto;
  width: 10em;
  grid-area: img;
  justify-self: center;
  margin-left: 3em;
  border-radius: 50%;
  align-self: center;
}
.first-img {
  height: auto;
  width: 20em;
  grid-area: img;
  justify-self: center;
}
.first-paragraph {
  grid-area: paragraph;
  justify-self: center;
  font-family: poppins;
  font-size: 2.5em;
}
.second-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "paragraph img";
  margin-top: 5em;
}

.second-img {
  height: auto;
  width: 20em;
  grid-area: img;
  justify-self: center;
}
.second-paragraph {
  grid-area: paragraph;
  justify-self: center;
  font-family: poppins;
  font-size: 2.5em;
}
.third-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img paragraph";
  margin-top: 5em;
}
.third-img {
  height: auto;
  width: 20em;
  grid-area: img;
  justify-self: center;
}
.third-paragraph {
  grid-area: paragraph;
  justify-self: center;
  font-family: poppins;
  font-size: 2.5em;
}
footer {
  background-color: rgb(2, 36, 90);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: 5em;
  margin-right: -1em;
  margin-left: -1em;
  margin-bottom: -1em;
}
