footer 
{
    background-color: rgb(2, 36, 90);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.img-donation
{
    height: auto;
    width: 30%;
    margin-left: 300px;
}
p
{
    text-align: right;
    margin-right: 300px;
    margin-top: -200px;
}